@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET usando TripleDESCrypto</h1>
    
    <h3>Mensagem: @ViewBag.mensagem</h3>
    <h4>Encrypt: @ViewBag.cripto</h4>
    <h4>Decrypt: @ViewBag.descrit</h4>
    <h1>Em Base64</h1>
    <h4>Decrypt: @ViewBag.mensagembase64</h4>
</div> 